/*create business profile*/
.business-side-bar
{
    background-color: #6700B8;
    height: 1000px;
}

.business-img-align
{
    text-align: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 110px;
    font-weight: 700;
}

.business-img-size
{
    margin-top: 100px;
    width: 200px;
    margin-left: 180px;
    margin-right: 180px;
}

.business-col-bg
{
    background-color: #6700B8;
    height: 643px;
}

.business-col-bg-content
{
    background-color: #ffffff;
    height: 643px;
    text-align: center;
}

/* .business-form-box
{
    background-color: #d3b3ec;
    border-radius: 20px;
} */

.business-prof-input
{
    width: 400px;
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.business-prof-button
{
    width: 400px;
    background-color: #6700B8;
    color: aliceblue;
    border: none;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500px;
}

.hr
{
   font-weight: 50px;
    
}
.business-post-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.business-post-card .row {
    margin-bottom: 10px;
}

.business-post-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.business-post-card .col-md-4 {
    display: flex;
    flex-direction: column;
}

.business-post-card .col-md-4 div {
    margin-bottom: 10px;
}

/* .business-con
{
    
} */

/*Business Profile*/