/*type code here*/

.reg-side-bar{
  background-color: #00B833;
  
  
}

.mixnetlogo{
  width: 200px;
  margin-left: 170px;
  margin-top: 160px;
}  

.logoName{
  font-size: 110px;
  font-weight: 600;
  color: aliceblue;
  text-align: center;

}
  
  .form-con {
    
    margin-top: 22px;
    background-color: #D9D9D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 30px;
    border-radius: 15px;
    width: 550px;
    margin-bottom: 60px;
    
    
    
  }
  
  .registerTopic-con{
    font-size: 22px;
    font-weight: 700;
    
  }

  .subTopic-con{
    font-size: 18px;
    font-weight: 500;
  }


  .hrLine-con{
    margin: 5px;
    margin-bottom: 20px;
  }

  .form-group-con {
    margin-bottom: 40px;
    display: flex;
  }
  
  .label-con {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    width: 180px;
  }
  
  .input-con {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button-group-con {
    text-align: center;
  }
  
  .Regbutton-con {
    background-color: #00B833;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    width: 360px;
    height: auto;
    margin-left: 140px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  
  .Regbutton-con:hover {
    background-color: #08a836;
  }
  

  /*Image Upload       part*/
  .image-upload-container {
    padding: 2rem;
    display: flex;
    
    height: 10vh;
}

.box-decoration {
    

    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.image-upload-label {
    font-size: 14px;
    font-weight:700;
    margin-top: 0px;
    margin-bottom: 8px;
    cursor: pointer;
    margin-left: -30px;
}

.image-upload-input {
    display: none;
}

.image-upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    
    
    cursor: pointer;
    border-radius: 5px;
}

.image-upload-button:hover {
    background-color: #3e8e41;
}

.img-display-before {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.img-display-after {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.chooseImage-con{
   font-size: 14px;
   font-weight: 500;
}

/* Side Bar css */
.w3-sidebar-con {
    width: 25%;
    height: 100%;
    position: fixed;
    margin-top: 30px;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding-top: 50px;
  }
  
  .sideBar-con {
    padding: 16px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    
  }
  
  .sideBar-con:hover {
    background-color: #ddd;
  }
  
  /* profile view css */
  .content-con {
    margin-left: 25%;
    padding: 16px;
    
  }
  
  .w3-container-con {
    padding: 0.01em 16px;
    margin-top: 10px;
    background-color: rgb(69, 119, 194);
    width: 95%;
    height: 500px;
    border-radius: 13px;
    display: flex;
  }

.ProfileLeft-con{
    flex:2;
    
}

.Profpic-con{
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 100px;
    height: 200px;
    width: 200px ;
}

.ProfName-con{
    font-size: 24px;
    font-weight: 600;
    margin-left: 90px;
    margin-top: -10px;
    
}

.ProfAddress-con{
    margin-left: 90px;
    font-size: 16px;
    font-weight: 440;
}

.ProfileRight-con{
    flex:2;
}

.profDetailBox-con{
    background-color: #D9D9D9;
    border-radius: 10px;
    height: auto;
    width: 400px;
    margin-top: 30px;
    padding: 15px;
}

.profDetailTopic-con{
    font-size: 18px;
    font-weight: 500;
}

.profDetail-con{
    font-size: 15px;

}

/* Profile view   Profile View    Profile View    Profile view      Profile view */
.profileView-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.topic-profile {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-group-profile {
  margin-bottom: 20px;
}

.label-profile {
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input[type="email"] {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.profile-frame {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.profile-frame h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-frame p {
  margin: 10px 0;
}

.profile-frame p strong {
  font-weight: bold;
}

.consult-details{
  margin-top: 20px;
}

.back-frame{
  background-color: #84c586;
  
}

/* All conusult    All conusult     All conusult   All conusult   All conusult*/
.del-table:hover{
  background-color: #9ee4a4;
}

.Del-table{
  margin-top: 8px;
}

.delete-btn-consultant{
  width: 80px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #ed2929;
    color: #eeefee;
    font-weight: 500;
    border-radius: 10px;
}

.confirm-btn-consultant{
  width: 80px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #5068f4;
    color: #eeefee;
    font-weight: 500;
    border-radius: 10px;
}

.cancel-btn-consultant{
  width: 80px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #5068f4;
    color: #eeefee;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 12px;
}

/* Consult Register      Consult Register       Consult Register    Consult Register */
.user-guide-register{
  color: red;
  margin-left: 150px;
  margin-top: -40px;
}

/* Analytics -Dashboard     Analytics -Dashboard     Analytics -Dashboard      Analytics -Dashboard   */
body {
  margin: 0;
  padding: 0;
  background-color: #d8dee6;
  
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #00aaff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #6e00d5;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}